:root{
    --vermelho: #ff102b;
    --roxo1: #654676;
    --roxo2: #653e77;
    --amarelo: #fecb00;
    --verde: #75bb46;
    --laranja: #f28c00;
    --branco: white;
}

*{
    margin: 0px;
    padding: 0px;
}

body{   
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.conteudo{
    display: flex;    
    justify-content: center;
    padding: 0 7vw 0 7vw;
}

header .conteudo{
    justify-content: space-around;
}

header{    
    background-color: var(--vermelho);
    border-top: 20px solid var(--roxo1);
    padding: 10px; 
    position: sticky;
    top: 0;
}

.logo-header{    
    margin-right: 10vw;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header ul{
    display: flex;      
    align-items: center;
}

header li{
    margin: 0 5px 0 5px;
}

header a{
    color: var(--amarelo);
    transition: .4s;
}

header a:hover{    
    transition: .4s;
}

.menu-header li{
    font-size: 20px;
}

.menu-header a:hover{
    color: var(--branco);
}

.midias-header li{
    font-size: 32px;
}

.midias-header a:hover{    
    opacity: 0.7;
}

.topo-produtos{
    background-color: var(--laranja);
}

.produtos{
    background-color: var(--amarelo);
    padding-top: 20px;
}

.img-produto{
    width: 120px;
    height: 120px;
}

.produtos ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw; 
}

.fundo-produto{
    background-color: var(--roxo2); 
    margin: 10px;
}